*{
    margin: 0;
}
.verh{
margin: 0px 200px;
margin-top: 100px;
    padding: 0px 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-size: 25px;
}
.ch1{
    display: flex;
    gap: 20px;
    align-items: center;
}
select{
    padding: 10px;
    border-radius: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border-collapse: collapse;
    border: 2px solid gray;
    outline: none;
}
input::placeholder{
    font-size: 17px;
}
.ch2{
    display: flex;
    gap: 20px;
    background-color: #624DE3;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}
.ch2 img{
    width: 25px;
}
.all2{
    margin: 0px 200px;
    display: flex;
    background-color: aquamarine;
    font-size: 25px;
    gap: 30px;
    padding:0px 50px;
}
.all6{
    margin: 0px 200px;
    padding: 10px 50px;
    font-size: 17px;
    align-items: center;
    display: flex;
}
.all6{
border: 2px solid black;
}
.a{
    width: 150px;
}
.b{
    width: 75px;
}
.c{
    width: 130px;
}
.d{
    width: 90px;
}
.i{
    width: 105px;
}
.f{
    width: 160px;
}
.g{
    background-color: #cbf4dd;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    width: 80px;
    color: green;
}
.i img{
    margin-left: 30px;
}
git add .
git commit -m "commit"
git push -u origin main